### Liquor Sales Predictor
#### Predicts the sale by product category given future month and day.

In [ ]:
#!pip install pandas

In [ ]:
#!pip install matplotlib
#!pip install bokeh

In [1]:
#Load the dataset file
import sys
import types
import pandas as pd

#IBM DSX specific file I/O client libraries
#from botocore.client import Config
#import ibm_boto3

def __iter__(self): return 0
###########---- ibm dsx specific code to load file ----------###########################
## Loads the large 13MM record file
## The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
## You might want to remove those credentials before you share your notebook.
#client_e0d982f9f7984059b4c6b128d1814552 = ibm_boto3.client(service_name='s3',
#ibm_api_key_id='PkAbaFpfA7qkLJYNcF1OasbQWapxuH6P-vycQqiofFvK',
#ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
#config=Config(signature_version='oauth'),
#endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

#body = client_e0d982f9f7984059b4c6b128d1814552.get_object(Bucket='cnn-donotdelete-pr-4iz30eoowmkw91',Key='Iowa_Liquor_Sales.csv')['Body']
## add missing __iter__ method, so pandas accepts body as file-like object
#if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

##insert credentials for file - Change to credentials_1
## @hidden_cell
## The following code contains the credentials for a file in your IBM Cloud Object Storage.
## You might want to remove those credentials before you share your notebook.
#credentials_1 = {
#    'IBM_API_KEY_ID': 'PkAbaFpfA7qkLJYNcF1OasbQWapxuH6P-vycQqiofFvK',
#    'IAM_SERVICE_ID': 'iam-ServiceId-a42a0a9d-b15f-482d-8ad4-7f333af35771',
#    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
#    'IBM_AUTH_ENDPOINT': 'https://iam.ng.bluemix.net/oidc/token',
#    'BUCKET': 'cnn-donotdelete-pr-4iz30eoowmkw91',
#    'FILE': 'liqSales.csv'
#}
## @hidden_cell
## The following code contains the credentials for a file in your IBM Cloud Object Storage.
## You might want to remove those credentials before you share your notebook.
## Make sure this uses the variable above. The number will vary in the inserted code.
#try:
#    credentials = credentials_1
#except NameError as e:
#    print('Error: Setup is incorrect or incomplete.\n')
#    print('Follow the instructions to insert the file credentials above, and edit to')
#    print('make the generated credentials_# variable match the variable used here.')
#    raise
#
## reference using String
#cols = ['Date', 'Category Name', 'Item Description', 'Sale (Dollars)', 'Volume Sold (Liters)']
#df = pd.read_csv(body, usecols=cols)
###########---- ibm dsx specific code ----------###########################

##--- local methods to load file w/ 13MM records ---#
#fileLoc = "../data/Iowa_Liquor_Sales.csv"
#dfs = pd.read_csv(fileLoc)
##--- local methods to load file ---#
    
 
    
#df.head()
#count rows and slice into smaller chunk
#df['Date'].count()
#df.dtypes

In [2]:
#df.head()

In [3]:
#df_short = df.iloc[0:1000000]
#df_short.index

In [4]:
#df_short.head()

In [5]:
#Rename Fields to simplify
#df_short.rename(columns={'Sale (Dollars)': 'sales'}, inplace=True)
#df_short.rename(columns={'Volume Sold (Liters)': 'volume'}, inplace=True)
#df_short.rename(columns={'Category Name': 'categoryName'}, inplace=True)
#df_short.rename(columns={'Date': 'date'}, inplace=True)
#df_short.rename(columns={'Item Description': 'item'}, inplace=True)

In [6]:
#convert the df Date text to datetime field
#import dateutil
#df_short['date'] = df_short['date'].apply(dateutil.parser.parse, dayfirst=True)

In [7]:
#The largest sale possible
#df_short['sales'].max()

In [8]:
#The largest sale possible
#df_short['volume'].max()

In [9]:
#Print df_short detailss
#df_short.index
#df_short['date'].count()

In [10]:
#df_short.head()

In [11]:
##Save to csv file at object storage
#cos = ibm_boto3.client(service_name='s3',
#    ibm_api_key_id=credentials['IBM_API_KEY_ID'],
#    ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
#    ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
#    config=Config(signature_version='oauth'),
#    endpoint_url=credentials['ENDPOINT'])
#
## Build the enriched file name from the original filename.
#localfilename = 'enriched_' + credentials['FILE']

# Write a CSV file from the enriched pandas DataFrame.
#df_short.to_csv(localfilename, index=False)

# Use the above put_file method with credentials to put the file in Object Storage.
#cos.upload_file(localfilename, Bucket=credentials['BUCKET'],Key=localfilename)

In [12]:
#!ls -alt "../work"

In [13]:
# Loading the shortened file into panda dataframe
fileLoc = "../data/enriched_liqSales.csv"
dfs = pd.read_csv(fileLoc)
#dfs.index
#list(dfs)

In [14]:
#Rename Fields to simplify using the df
dfs.rename(columns={'Date': 'date'}, inplace=True)
dfs.rename(columns={'Store Name': 'storeName'}, inplace=True)
dfs.rename(columns={'Zip Code': 'zip'}, inplace=True)
dfs.rename(columns={'Store Location': 'storeLocation'}, inplace=True)
dfs.rename(columns={'Category Name': 'categoryName'}, inplace=True)
dfs.rename(columns={'Vendor Name': 'vendorName'}, inplace=True)
dfs.rename(columns={'Item Description': 'item'}, inplace=True)
dfs.rename(columns={'Bottle Volume (ml)': 'bottleVol'}, inplace=True)
dfs.rename(columns={'State Bottle Cost': 'bottleCost'}, inplace=True)
dfs.rename(columns={'State Bottle Retail': 'bottleSalePrice'}, inplace=True)
dfs.rename(columns={'Sale (Dollars)': 'txAmount'}, inplace=True)
dfs.rename(columns={'Bottles Sold': 'txNumBottleSold'}, inplace=True)
dfs.rename(columns={'Volume Sold (Liters)': 'txVolLtrs'}, inplace=True)
dfs.rename(columns={'Volume Sold (Gallons)': 'txVolGal'}, inplace=True)
#list(dfs)

In [15]:
#dfs['txAmount']

In [16]:
#dfs.head()

In [17]:
#Currently Sales is a text, convert it to float
#Also convert all other numerics to float for supporting future transactions
dfs['txAmount'] = dfs['txAmount'].str.replace('$', '')
dfs['txAmount'] = dfs['txAmount'].astype(float)
dfs['Pack'] = dfs['Pack'].astype(float)
dfs['bottleVol'] = dfs['bottleVol'].astype(float)
dfs['bottleCost'] = dfs['bottleCost'].str.replace('$', '')
dfs['bottleCost'] = dfs['bottleCost'].astype(float)
dfs['bottleSalePrice'] = dfs['bottleSalePrice'].str.replace('$', '')
dfs['bottleSalePrice'] = dfs['bottleSalePrice'].astype(float)
dfs['txNumBottleSold'] = dfs['txNumBottleSold'].astype(float)
dfs['txVolLtrs'] = dfs['txVolLtrs'].astype(float)

#df_short.head()

#Convert date field to panda date/time
dfs['date'] = pd.to_datetime(dfs['date'])

#Insert columns to indicate Month
dfs['month'] = dfs['date'].dt.month

#Insert columns to indicate dayofweek
dfs['dayofweek'] = dfs['date'].dt.dayofweek

In [18]:
#Extract the latitude and longitude from storeLocation
#(?<=\().*?(?=\)) looks for everything between () in 1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)
#Then it breaks into individual lat/long using , delimiter
dfs['latlong'] = dfs['storeLocation'].str.extract('((?<=\().*?(?=\)))', expand=True)
dfs[['lat','long']]  = dfs['latlong'].str.split(',', expand=True)
#dfs['lat']

In [19]:
#Calculate the profit per day, based on (txAmount - (bottleCost*txNumBottleSold))
dfs['dailyProfit'] = dfs['txAmount'] - (dfs['bottleCost']*dfs['txNumBottleSold'])

In [20]:
#dfs['txAmount']
#dfs.head()
#list(dfs)
dfs.head()

,date,storeName,Address,City,zip,storeLocation,categoryName,vendorName,item,Pack,...,txNumBottleSold,txAmount,txVolLtrs,txVolGal,month,dayofweek,latlong,lat,long,dailyProfit
0,2015-11-20,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",NaN,Wilson Daniels Ltd.,Templeton Rye w/Flask,6.0,...,6.0,162.84,4.50,1.19,11,4,"40.39978, -91.387531",40.39978,-91.387531,54.30
1,2015-11-21,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",NaN,Wilson Daniels Ltd.,Templeton Rye w/Flask,6.0,...,12.0,325.68,9.00,2.38,11,5,"40.739238, -95.02756",40.739238,-95.02756,108.60
2,2015-11-16,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",NaN,Disaronno International LLC,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20.0,...,2.0,19.20,0.30,0.08,11,0,"40.624226, -91.373211",40.624226,-91.373211,6.40
3,2015-11-04,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,NaN,Jim Beam Brands,Knob Creek w/ Crystal Decanter,3.0,...,3.0,160.02,5.25,1.39,11,2,NaN,NaN,NaN,53.37
4,2015-11-17,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",NaN,Disaronno International LLC,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20.0,...,2.0,19.20,0.30,0.08,11,1,"41.985887, -92.579244",41.985887,-92.579244,6.40

In [28]:
#Create df for byItem, byLat, byLong all numeric columns
dfsModel = dfs[['date','storeName','item','txAmount','month','dayofweek','latlong','lat','long','dailyProfit']]
dfsModel.head()

,date,storeName,item,txAmount,month,dayofweek,latlong,lat,long,dailyProfit
0,2015-11-20,Keokuk Spirits,Templeton Rye w/Flask,162.84,11,4,"40.39978, -91.387531",40.39978,-91.387531,54.30
1,2015-11-21,Ding's Honk And Holler,Templeton Rye w/Flask,325.68,11,5,"40.739238, -95.02756",40.739238,-95.02756,108.60
2,2015-11-16,Quicker Liquor Store,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,19.20,11,0,"40.624226, -91.373211",40.624226,-91.373211,6.40
3,2015-11-04,Hy-Vee Food Store #2 / Iowa City,Knob Creek w/ Crystal Decanter,160.02,11,2,NaN,NaN,NaN,53.37
4,2015-11-17,Twin Town Liquor,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,19.20,11,1,"41.985887, -92.579244",41.985887,-92.579244,6.40

In [29]:
#Debut to explore data, where a given store has multiple locations but lat/long
#import numpy as np
#list(dfsModel)
#dfsUnq = dfsModel.groupby("storeName").agg({"txAmount": np.sum, "latlong": pd.Series.nunique})
#dfsUnq = dfsUnq.sort_values('storeName')
#dfsUnq.head(1000)

#show dfs by storeName
#dfs.loc[dfs['storeName'] == 'Liquor and Tobacco Outlet /']

In [30]:
#To-Do --- visualize early dfs
#Show profit graph over date/time
#from bokeh.io import output_notebook, show
#from bokeh.plotting import figure
#output_notebook()

#profitShow = TimeSeries(dfs, x=date, y=[dailyProfit], legend=True, plot_width=900, plot_height=150)

In [31]:
##Generate sales histogram by distribution
#import numpy as np
#from numpy import argmax
#from bokeh.plotting import figure
#from bokeh.io import show, output_notebook
#
## Create a blank figure with labels
#p = figure(plot_width = 600, plot_height = 600, 
#           title = 'Sales Amount Distribution',
#           x_axis_label = 'X', y_axis_label = 'Y')
#
##Build the histogram with bin range between $0-$150
##Bin size of 15 dollars
#arr_hist, edges = np.histogram(dfs['txAmount'], 
#                               bins = int(1200/50), 
#                               range = [0, 1200])
## Put the information in a dataframe
#dfSale = pd.DataFrame({'NumTxs': arr_hist, 
#                       'left': edges[:-1], 
#                       'right': edges[1:]})
#dfSale
##arr_hist, edges

In [32]:
# Create the blank plot
#p = figure(plot_height = 600, plot_width = 600, 
#           title = 'Distribution of Sales',
#          x_axis_label = 'Transaction Amount', 
#           y_axis_label = 'Number Of Transactions') 
#
## Add a quad glyph
#p.quad(bottom=0, top=dfSale['NumTxs'], 
#       left=dfSale['left'], right=dfSale['right'], 
#       fill_color='#E83151', line_color='#DBD4D3')
#
## Show the plot
#show(p)

In [33]:
##testing encoder
#from sklearn.preprocessing import LabelEncoder
#encoder = LabelEncoder()
#dfs['categoryNameCode'] = encoder.fit_transform(dfs['categoryName'])
##encoder.fit_transform(dfs.loc[:, ['categoryName', 'item']])
#dfs.head()

In [34]:
#Transform df to aggregate sales, volume by item for given date
#dfTItem = dfs.drop('categoryName', axis=1)
#dfTItem = dfTItem.groupby(["date", 'item'], as_index=False).sum()

In [37]:
#generate the final encoded, transformed, shifted and inferred ready df
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

#lets build dfTransform, class that allows to fit and transform
#selected label columns
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here
    
    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = encoder.fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = encoder.fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

#Fit and Transform the label columns
#dfTItem = MultiColumnLabelEncoder(columns = ['item']).fit_transform(dfTItem)

#Generate OneHotEncoded for all category sets
dfOHE = pd.get_dummies(dfsModel[['storeName','item']], prefix=['sN', 'itm'])
#Concat the main dfTItem with OHE df
dfsModel = pd.concat([dfsModel, dfOHE], axis=1)
#dfTransform[:10]

MemoryError:

In [36]:
dfsModel.head()

,date,storeName,item,txAmount,month,dayofweek,latlong,lat,long,dailyProfit
0,2015-11-20,Keokuk Spirits,Templeton Rye w/Flask,162.84,11,4,"40.39978, -91.387531",40.39978,-91.387531,54.30
1,2015-11-21,Ding's Honk And Holler,Templeton Rye w/Flask,325.68,11,5,"40.739238, -95.02756",40.739238,-95.02756,108.60
2,2015-11-16,Quicker Liquor Store,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,19.20,11,0,"40.624226, -91.373211",40.624226,-91.373211,6.40
3,2015-11-04,Hy-Vee Food Store #2 / Iowa City,Knob Creek w/ Crystal Decanter,160.02,11,2,NaN,NaN,NaN,53.37
4,2015-11-17,Twin Town Liquor,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,19.20,11,1,"41.985887, -92.579244",41.985887,-92.579244,6.40

In [ ]:
# invert first example
#dfOHE
argmax(dfOHE.iloc[3, :])
#inverted = encoder.inverse_transform([argmax(dfOHE.iloc[0, :])])
#print(inverted)

In [ ]:
#list all unique classes across both labels
#list(encoder.classes_)
#len(encoder.classes_)

In [ ]:
#Feature engineering and 
from pandas import concat
#Append the shifted metrics for adding predictability trends over time steps i.e. 1 day
#Original headers:date	categoryName	item	sales	volume
width = 3

#Shift the sales column by set width
shifted = dfTransform.loc[:, ['sales']].shift(width - 1)
window = shifted.rolling(window=width)
dfTransform = concat([dfTransform, window.min(), window.mean(), window.max()], axis=1)
dfTransform.columns = ['date', 'categoryName', 'item', 'sales', 'volume', 'salesMin', 'salesMean', 'salesMax']

#Shift the volume column by set width
shifted = dfTransform.loc[:, ['volume']].shift(width - 1)
window = shifted.rolling(window=width)
dfTransform = concat([dfTransform, window.min(), window.mean(), window.max()], axis=1)
dfTransform.columns = ['date', 'categoryName', 'item', 'sales', 'volume', 'salesMin', 'salesMean', 'salesMax', 'volMin', 'volMean', 'volMax']

dfTransform[:10]
#shifted[:10]
#window
#dfTransform.columns = ['min', 'mean', 'max', 't+1', 'date', 'categoryName', 'item', 'sales', 'volume']

In [ ]:
#Add shifted Exponentially Weighted Windows to dataframe
#dfTransform.loc[:, ['salesMean']]
#ema = dfTransform.loc[:, ['salesMean']].ewm(com=0.5, min_periods=2, axis=1).mean()
#ema

In [ ]:
from matplotlib import pyplot
# load dataset
values = dfs.values
# specify columns to plot
groups = [3,4]
i = 1
# plot each column
pyplot.figure()
for group in groups:
	pyplot.subplot(len(groups), 1, i)
	pyplot.plot(values[:, group])
	pyplot.title(dfs.columns[group], y=0.5, loc='right')
	i += 1
pyplot.show()

In [ ]:
#Build the LSTM model
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
 
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg
 
# integer encode direction
encoder = LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4])
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[[9,10,11,12,13,14,15]], axis=1, inplace=True)
print(reframed.head())
 
# split into train and test sets
values = reframed.values
n_train_hours = 365 * 24
train = values[:n_train_hours, :]
test = values[n_train_hours:, :]
# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)
 
# design network
model = Sequential()
model.add(LSTM(50, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam')
# fit network
history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(test_X, test_y), verbose=2, shuffle=False)
# plot history
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()
 
# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
# invert scaling for forecast
inv_yhat = concatenate((yhat, test_X[:, 1:]), axis=1)
inv_yhat = scaler.inverse_transform(inv_yhat)
inv_yhat = inv_yhat[:,0]
# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = concatenate((test_y, test_X[:, 1:]), axis=1)
inv_y = scaler.inverse_transform(inv_y)
inv_y = inv_y[:,0]
# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)